.container{
    margin-top: -100px;
    h4{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
.container-detail{
    margin-top: var(--xxl-size);
}
.bread-crumb{
    padding-bottom: var(--size-space);
}