.box{
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing);
    p{
        font-weight: var(--weight-400);
        color: var(--light-black);
        line-height: var(--line-height-primary);
    }
    padding-bottom: var(--middle-space);
    padding-top: var(--middle-space);
    border-bottom: 1px dashed var(--border-color);
    h6{
        text-transform: uppercase;
        font-weight: var(--weight-700);
        padding-top: 4px;
        margin: 0;
        font-size: var(--fs-normal);
        letter-spacing: var(--letter-spacing);
        line-height: var(--middle-space);
    }
}

@media screen and (max-width: 768px) {
    .box{
        padding: var(--mg-16) 0;
        p, h6{
            font-size: var(--fs-small);
            line-height: 20px;
        }
    }
}
