.filter{
    padding-right: var(--xs-size);
    border: 1px solid var(--gray-lighter);
    text-align: start;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    letter-spacing: var(--letter-spacing);
}
.input{
    input{
        border: none;
    }
}
.button{
    margin: auto;
    width: 100%;
    button{
        border: none;
        background: var(--orange-primary);
        color: var(--white);
        font-weight: var(--weight-700);
        text-transform: uppercase;
    }
}