@import '../../../theme/fixing';
@import '../../../styles/grid';
.news{
    padding-top: var(--size-space);
    h4{
        text-align: start;
        padding-bottom: var(--mg-16) !important;
        font-size: 24px;
    }  
    
}
.grid{
    @include grid-template-column(3, var(--mg-16));
}