.image {
  position: relative;
  img {
    border-radius: 8px;
    box-shadow: var(--shadow-dark);
  }
}
@mixin padding-box {
  padding: 32px;
  border-radius: 5px;
}
.layout {
  h4 {
    font-size: 20px;
    text-align: start;
    padding: 16px 0 32px 0;
    margin: 0;
    font-weight: 700;
    line-height: 32px;
    position: relative;
  }
  @include padding-box();
  background: var(--white);
  outline: 1px solid var(--border-color);
  .icon-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--light-orange);
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .35s ease;
  overflow: hidden;
  &:hover{
    outline: none;
      .show--container{
          height: 100%;
          opacity: 1;
          h4{
            color: var(--white);
          }
          p{
            opacity: 1;
          }
          button{
            opacity: 1;
          }
      }
      .show--container[data-transition-delay="500"]{
        display: none;
      }
      box-shadow: var(--shadow-primary);
  }
}

.show--container {
  background: var(--background-primary);
  @include padding-box();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.75s ease;
  box-shadow: var(--shadow-primary);
  h4 {
    padding-bottom: 0;
  }
  a {
    text-decoration: none;
    color: var(--white);
  }
  .button {
    background: var(--less-dark-orange);
    border: none;
    margin-top: 40px;
    text-transform: uppercase;
    color: var(--white);
    opacity: 0;
    transition-delay: .5s;
  }
  .line {
    margin-bottom: 32px;
  }
  p{
      line-height: 28px;
      transition: all .3s ease;
      transition-delay: .5s;
      opacity: 0;
  }
  color: var(--white);
  height: 0;
  opacity: 0;
}
.color{
  background: var(--darker-orange) !important;
}
