.container {
  height: 750px;
  background: url("../../../public/banner.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}
