.container {
  height: calc(100vh - 100px) !important;
  background: url("../../../public/banner.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  background-attachment: fixed !important;
}
