@import '../../../styles/grid';
.grid{
    @include grid-template-column(2, var(--size-space));
}
.content{
    h5{
        font-size: var(--fs-normal);
        font-weight: var(--weight-700);
        padding-bottom: var(--xs-size);
        text-transform: uppercase;
    }
    p{
        line-height: 28px;
        padding-bottom: var(--middle-space);
        &:last-child{
            padding-bottom: 0;
        }
        letter-spacing: 1px;
    }
}