.swiper{
    position: relative;
}
.pagination{
    bottom: 110px !important;
}
.normal-pagination{
    background: var(--gray-lighter) !important;
    opacity: 1 !important;
}
.active-pagination{
    background: transparent !important;
    border-color: var(--white) !important;
}
.swiper-back-active{
    transform: translateX(0) !important;
    opacity: 1 !important;
}
.left, .right{
    z-index: 10000;
}

.button{
    bottom: 70px;
    top: auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 12px;
        height: 18px;
    }
    background: var(--light-black-bg);
}
.left{
    left: 42%;
}
.right{
    right: 42%;
}