.type{
    padding: var(--small-box-recruit);
    background: var(--lighest-gray);
    color: var(--light-black);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-normal);
    font-size: var(--fs-xs);
    transition: all .3s ease;
    font-weight: var(--weight-600);
    line-height: 20px;
}