.type{
    padding: var(--small-box-recruit);
    background: var(--lighest-orange);
    color: var(--orange-primary);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-size: var(--fs-xs);
    
}