.parser{
    p, ul{
        padding-bottom: 16px;
        &:last-child{
            padding-bottom: 0;
        }
    }
    img{
        width: 100% !important;
        height: auto !important;
    }
}