.parser{
    p, ul, h1, h2, h3, h4, h5, h6, strong, li{
        padding-bottom: 16px;
        &:last-child{
            padding-bottom: 0;
        }
        line-height: 28px;
        letter-spacing: var(--letter-spacing);
    }
    img{
        width: 100% !important;
        height: auto !important;
        margin: 16px 0;
    }
}

@media screen and (max-width: 768px) {
    .parser{
        font-size: var(--fs-small);
        line-height: 20px;
        p, ul, h1, h2, h3, h4, h5, h6, strong, li{
            font-size: var(--fs-small);
            line-height: 20px;
        }
    }
}