.bread-crumb{
    a{
        color: var(--gray-secondary) !important;
        font-weight: var(--weight-700);
    }
    ul{
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        span{
            display: inline-block;
        }
        li{
            font-size: var(--fs-large);
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            span{
                display: block;
                padding: 0 var(--mg-16);
            }
            &:first-child{
                & > div{
                    top: -2px;
                }
            }
        }
    }
    .color{
        color: var(--orange-primary) !important;
    }
}
.date{
    font-size: 20px;
    color: var(--gray-secondary);
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing);
}

@media screen and (max-width: 991px) {
    .bread-crumb{
        ul li{
            font-size: var(--fs-nlarge);
        }
    }
}
@media screen and (max-width: 768px) {
    .date{
        font-size: var(--fs-nlarge);
        padding-top: var(--pd-12);
        padding-bottom: 8px;
    }
}