.bread-crumb{
    a{
        color: var(--gray-secondary) !important;
        font-weight: var(--weight-700);
    }
    ul{
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        span{
            display: inline-block;
        }
        li{
            font-size: var(--fs-large);
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            span{
                display: block;
                padding: 0 var(--mg-16);
            }
            &:first-child{
                & > div{
                    top: -2px;
                }
            }
        }
    }
    .date{
        font-size: 20px;
        color: var(--gray-secondary);
    }
    .color{
        color: var(--orange-primary) !important;
    }
}

@media screen and (max-width: 991px) {
    .bread-crumb{
        ul li{
            font-size: var(--fs-nlarge);
        }
    }
}