.slide {
  height: calc(100vh - 80px);
  margin-top: 80px;
  background: url("/new-banner.png");
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(35, 32, 32, 0.05) 44.27%,
      rgba(21, 19, 19, 0.9) 96.13%
    );
  }
  color: var(--white);
  .container {
    position: relative !important;
    z-index: 100 !important;
    max-width: 800px;
    text-transform: uppercase;
    span {
      letter-spacing: var(--letter-spacing);
      padding: var(--xs-size) var(--sm-size);
      background: rgba($color: #1d1d1d, $alpha: 0.75);
    }
    h2 {
      font-size: 40px;
      letter-spacing: var(--letter-spacing);
      font-weight: var(--weight-700);
      padding: 16px 0 var(--size-space) 0;
      line-height: 56px;
      margin-bottom: 0;
      color: var(--white);
    }
  }
  button {
    text-transform: uppercase;
    font-weight: bold;
  }
}
.text{
  transition: all 1s ease-in-out;
  transform: translateX(20%);
  opacity: 0;
  position: relative;
  z-index: 100;
}

