.swiper{
    padding-bottom: 46px;
    position: relative;
}
.left, .right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 25;
    cursor: pointer;
    transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
    svg{
        transition: all .35s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}
.left{
    left: 0;
}
.right{
    right: 0;
    svg{
        transform: rotate(180deg);
    }
}