.container{
    margin: var(--xxl-size) 0;   
}
.image{
    width: 65%;
    img{
        box-shadow: var(--shadow-dark);
    }
}
.text{
    max-width: 600px;
    box-shadow: var(--shadow-button-primary);
    img{
        width: 40px;
        height: var(--size-space);
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
    }
    padding: 64px;
    position: absolute;
    background: rgba($color: #fff, $alpha: .8);
    z-index: 5;
    left: 0;
    transform: translateY(-50%);
    h5{
        font-size: 24px;
        letter-spacing: 1.5px;
        font-weight: 700;
        padding-bottom: var(--size-space);
        margin: 0;
        text-transform: uppercase;
    }
    font-size: var(--fs-normal);
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: var(--weight-400);
}
.container-line{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: var(--xxl-size);
}