@import '../../theme/fixing';
.footer{
    background: var(--darker-gray);
    padding-top: var(--xxl-size);
    padding-bottom: var(--xxl-size);
    @extend .container;
    margin-bottom: 0;
    overflow: hidden;
}
.logo{
    width: 136px;
    height: 93px;
}
.grid{
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 50px;
}
.copyright{
    color: var(--black-primary);
    line-height: var(--line-height-primary);
    span{
        padding-left: 10px;
    }
}
.list{
    list-style: none;
    padding-left: 0;
    li{
        padding-bottom: 16px;
        &:last-child{
            padding: 0;
        }
    }
    a{
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: var(--letter-spacing);
    }
}
.text{
    span{
        font-weight: 400;
        letter-spacing: .5px;
        margin-left: 10px;
        color: var(--black-primary);
    }
}
.email{
    line-height: var(--line-height-primary);
    li{
        &:first-child{
            font-weight: var(--weight-700);
            padding-bottom: 0;
            text-transform: uppercase;
        }
    }
    .middle{
        padding-top: var(--mg-16);
        padding-bottom: var(--middle-space);
        font-size: var(--fs-normal);
        font-weight: var(--weight-400);
        letter-spacing: var(--letter-spacing);
    }
    input, button{
        padding: var(--mg-16) 20px;
    }
    input{
        width: 100%;
        border: none;
        &::placeholder{
            font-size: var(--fs-small);
            color: var(--border-color);
        }
    }
    button{
        width: 60%;
        font-size: var(--fs-small);
        background: var(--orange-primary);
        text-transform: uppercase;
        border: none;
        color: var(--white);
    }
    .list-media{
        padding-top: var(--size-space) !important;
        .brand{
            width: 36px;
            height: 36px;
            background-color: var(--white);
            &:last-child{
                margin-left: var(--middle-space);
            }
        }
        img{
            width: 100%;
            height: 16px;
        }
    }
}
.list-contact{
    @extend .list;
    li{
        display: flex;
        align-items: center;
        font-size: var(--fs-small);
        &:first-child{
            font-size: var(--fs-normal);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    a{
        text-transform: none;
    }
    span, a{
        font-weight: 400;
    }
}
.container-footer{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.footer-container{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 20px 0;
    .social-links{
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--size-space);
            height: var(--size-space);
            border-radius: 50%;
            background: var(--black-primary);
            &:last-child{
                margin-left: 16px;
            }
        }
    }
}