@import '../../theme/fixing';
.footer{
    background: var(--dark-gray);
    padding-top: var(--xxl-size);
    padding-bottom: var(--size-space);
    @extend .container;
    margin-bottom: 0;
    overflow: hidden;

}
.logo{
    min-width: 70.59px !important;
    margin: 0 !important;
    min-height: 48px !important;
}
.grid{
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 60px;
}
.list{
    list-style: none;
    padding-top: 24px;
    padding-left: 0;
    li{
        padding-bottom: 16px;
        &:last-child{
            padding: 0;
        }
    }
    a{
        text-transform: uppercase;
        font-weight: 700;
    }
}
.text{
    span{
        font-weight: 400;
        letter-spacing: .5px;
        margin-left: 10px;
        color: var(--black-primary);
    }
}
.list-contact{
    @extend .list;
    li{
        display: flex;
        align-items: center;
        font-size: var(--fs-small);
        &:first-child{
            font-size: var(--fs-normal);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    a{
        text-transform: none;
    }
    span, a{
        font-weight: 400;
        padding-left: 18px;
    }
}
.container-footer{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.footer-container{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 20px 0;
    .social-links{
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--size-space);
            height: var(--size-space);
            border-radius: 50%;
            background: var(--black-primary);
            &:last-child{
                margin-left: 16px;
            }
        }
    }
}