@mixin show-n-line($value) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $value;
  -webkit-box-orient: vertical;
}

.container {
  margin-top: 120px;
  margin-bottom: 120px;
}
@mixin title {
  h4 {
    padding-bottom: 48px !important;
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

@mixin container-item {
  .container{
    @extend .container;
    @include title();
  }
}