@mixin first-logo {
  img {
    width: 10px;
    height: 21px;
  }
  @media screen and (max-width: 768px) {
    img {
      width: 7px;
      height: 15px;
    }
  }
}
@mixin last-logo {
  img {
    width: 16px;
    height: 16px;
  }
  @media screen and (max-width: 768px) {
    img {
      width: 13px;
      height: 13px;
    }
  }
}
@mixin images {
  width: var(--size-space);
  height: var(--size-space);
  background: var(--primary-color);
  img {
    width: 17px;
    height: 17px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  &:first-child {
    @include first-logo();
  }
  &:nth-child(2) {
    margin: 0 var(--mg-16);
  }
  &:last-child {
    @include last-logo();
  }
  border-radius: 50%;
}
.container {
  position: relative;
  overflow: hidden;
  padding: var(--middle-space) var(--size-space) var(--size-space) var(--size-space);
  background: var(--white);
  img {
    transition: all 0.5s ease-in-out;
  }
  h5 {
    font-weight: var(--weight-700);
    letter-spacing: var(--letter-spacing-normal);
  }
  &:hover {
    box-shadow: var(--shadow-primary);
  }
  .intro {
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing);
  }
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .title {
    padding-bottom: 4px;
    font-size: var(--fs-small);
    line-height: 20px;
  }
  .text {
    padding: var(--size-space);
    color: var(--white);
  }
  line-height: var(--size-space);
  background: rgba(var(--primary-color-rgb), 0.9);
  h5 {
    font-size: var(--fs-large);
    padding-bottom: 34px;
    text-transform: uppercase;
    color: var(--white);
    transition: all 0.35s ease-in-out;
    line-height: var(--size-space);
    letter-spacing: var(--letter-spacing-normal);
  }
  a {
    width: var(--size-space);
    height: var(--size-space);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
    background: var(--white);
    border-radius: 50%;
    img {
      width: 17px;
      height: 17px;
    }
    .logo-fb {
      @include first-logo();
    }
    .logo-noron {
      @include last-logo();
    }
  }
  .social {
    padding-top: var(--size-space);
  }
  transition: all 0.5s ease-in-out;
}
.container {
  width: 100%;
  height: 100%;
  .avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    background-color: var(--background-img);
    height: 260px;
    width: 260px;
    border-radius: 100%;
    object-fit: contain;
  }
}

.infos {
  padding-top: var(--size-space);
  p {
    font-size: var(--fs-small);
    line-height: 20px;
    letter-spacing: var(--letter-spacing);
    padding-bottom: 4px;
  }
  h4 {
    padding-bottom: var(--mg-16) !important;
    font-size: var(--fs-large);
    line-height: var(--size-space) !important;
  }
  .images {
    & > div {
      @include images();
    }
  }
}
@media screen and (max-width: 768px) {
  .infos {
    padding-top: var(--pd-12);
  }
  .container {
    padding: var(--mg-16) var(--middle-space) var(--middle-space) var(--middle-space);
    .text {
      padding: var(--middle-space);
    }
    .avatar {
      img {
        height: 180px;
        width: 180px;
      }
    }
    p {
      &:first-child {
        line-height: 20px;
        font-size: 12px;
      }
    }
    .intro {
      line-height: 20px;
      font-size: var(--fs-small);
      p {
        font-size: 14px !important;
      }
      strong {
        font-size: 14px !important;
      }
    }
    .images {
      & > div {
        width: var(--middle-space);
        height: var(--middle-space);
        img {
          width: 13px;
          height: 13px;
        }
      }
    }
    h5 {
      padding-bottom: var(--middle-space);
      font-size: var(--fs-normal);
      line-height: var(--middle-space);
    }
    .social {
      padding-top: var(--middle-space);
    }
  }
  .content {
    a {
      margin-right: 12px;
    }
  }
}
