.content{
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing);
    p{
        padding-bottom: 16px;
        &:last-child{
            padding-bottom: 0;
        }
    }
    h1, h2, h3, h4, h5, h6{
        font-size: var(--title-heading);
        margin: 0;
        padding-bottom: 16px;
        text-transform: uppercase;
        font-weight: var(--weight-700);
    }
    a{
        text-decoration: underline !important;
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)) !important;
    }
}


@media screen and (max-width: 768px) {
    .content{
        font-size: var(--fs-small);
        h1, h2, h3, h4, h5, h6 {
            font-size: var(--fs-nlarge);
        }
        p{
            padding-bottom: 12px;
        }
        img{
            margin: 12px 0;
        }
    }
}