.container {
  list-style: none;
  padding-top: 48px;
  padding-left: 0;
  li {
    width: var(--w-36);
    height: var(--w-36);
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(91, 91, 91, 0.15);
    margin: 0 var(--xs-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-small);
    font-weight: var(--weight-700);
    letter-spacing: var(--letter-spacing);
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: var(--primary-color);
      box-shadow: var(--shadow-primary);
      color: var(--white);
    }
  }
}
.btn--direction {
  background: var(--white) !important;
  color: var(--black) !important;
  cursor: pointer;
}
.disabled {
  pointer-events: none !important;
  background: rgba($color: #fff, $alpha: 0.5) !important;
}
.active {
  background: var(--primary-color);
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .container{
    padding-top: var(--size-space);
    li{
      width: var(--middle-space);
      height: var(--middle-space);
      font-size: 12px;
      margin: 0 8px;
    }
  }
}