.container {
  background: url("/Image.png");
  z-index: 1;
  position: relative;
  background-position: center center !important;
  background-attachment: unset !important;
}
.box-container {
  z-index: 5;
  line-height: 28px;
  & > p{
    letter-spacing: var(--letter-spacing);
  }
}

@media screen and (max-width: 768px) {
  .box-container{
    padding-bottom: var(--middle-space);
  }
}