.container {
  background: url("/Image.png");
  z-index: 1;
  position: relative;
  background-position: center center !important;
  background-attachment: unset !important;
}
.box-container {
  z-index: 5;
  line-height: 28px;
  & > p{
    letter-spacing: var(--letter-spacing);
  }
  p, strong, li, span {
    font-size: 18px;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 768px) {
  .box-container{
    padding-bottom: var(--middle-space);
    p, strong, li, span{
      font-size: 14px;
      padding-bottom: 14px;
    }
  }
}