@font-face {
    font-family: 'Nunito Sans';
    src: url('/Nunito_Sans/NunitoSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('/Nunito_Sans/NunitoSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('/Nunito_Sans/NunitoSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('/Nunito_Sans/NunitoSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('/Nunito_Sans/NunitoSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('/Nunito_Sans/NunitoSans-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('/Nunito_Sans/NunitoSans-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('/Nunito_Sans/NunitoSans-ExtraLight.ttf');
    font-weight: 200;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVLSTAyLFyeg_IDWvOJmVES_HwyPRsibZgmSh8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVLSTAyLFyeg_IDWvOJmVES_HwyPRsibJgmSh8.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVLSTAyLFyeg_IDWvOJmVES_HwyPRsiYpgm.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPbczdbADdyap.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPbczdbEDdyap.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPbczdb8Ddw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPdMwdbADdyap.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPdMwdbEDdyap.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPdMwdb8Ddw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVNSTAyLFyeg_IDWvOJmVES_HwyNXcSYIAi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVNSTAyLFyeg_IDWvOJmVES_HwyNXYSYIAi.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVNSTAyLFyeg_IDWvOJmVES_HwyNXgSYA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPYsxdbADdyap.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPYsxdbEDdyap.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPYsxdb8Ddw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPac2dbADdyap.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPac2dbEDdyap.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPac2db8Ddw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPcM3dbADdyap.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPcM3dbEDdyap.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPcM3db8Ddw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPd80dbADdyap.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPd80dbEDdyap.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPd80db8Ddw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPfs1dbADdyap.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPfs1dbEDdyap.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVKSTAyLFyeg_IDWvOJmVES_HwyPfs1db8Ddw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVNSTAyLFyeg_IDWvOJmVES_HRUNXcSYIAi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVNSTAyLFyeg_IDWvOJmVES_HRUNXYSYIAi.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVNSTAyLFyeg_IDWvOJmVES_HRUNXgSYA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HT4JG86Rb0bcw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HT4JG87Rb0bcw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HT4JG81Rb0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HScJ286Rb0bcw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HScJ287Rb0bcw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HScJ281Rb0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVPSTAyLFyeg_IDWvOJmVES_Hw4BXoKZA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVPSTAyLFyeg_IDWvOJmVES_Hw5BXoKZA.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVPSTAyLFyeg_IDWvOJmVES_Hw3BXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HTEJm86Rb0bcw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HTEJm87Rb0bcw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HTEJm81Rb0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HToIW86Rb0bcw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HToIW87Rb0bcw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HToIW81Rb0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HSMIG86Rb0bcw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HSMIG87Rb0bcw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HSMIG81Rb0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HSQI286Rb0bcw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HSQI287Rb0bcw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HSQI281Rb0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HS0Im86Rb0bcw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HS0Im87Rb0bcw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/bevietnampro/v11/QdVMSTAyLFyeg_IDWvOJmVES_HS0Im81Rb0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import './transition.scss';
@import './grid.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
body,
html {
    overflow-x: hidden;
}
body[data-body] {
    overflow: hidden;
}
:root {
    --primary-color: #ff4b14;
    --primary-color-rgb: 20, 65, 138;
    --button-bg:#1351A8;
    --orange-primary: #ff4b14;
    --orange-primary-rgb: 255, 75, 20;
    --background-primary: linear-gradient(
        113.96deg,
        #ff4e16 2.13%,
        #fb6535 96.62%
    );
    --font-primary: 'Be Vietnam Pro';
    --black: #000000;
    --orange-secondary: #ff4e16;
    --black-primary: #1d1d1d;
    --white: #fff;
    --fs-xsm: 10px;
    --fs-xs: 12px;
    --fs-small: 14px;
    --fs-normal: 16px;
    --fs-nlarge: 18px;
    --fs-large: 20px;
    --fs-xxl: 24px;
    --middle-space: 24px;
    --title-heading: 24px;
    --size-space: 32px;
    --pd-12: 12px;
    --pd-14: 14px;
    --pd-17: 17px;
    --pd-18: 18px;
    --pd-36: 36px;
    --pd-20: 20px;
    --pd-28: 28px;
    --pd-64: 64px;
    --pd-48: 48px;
    --pd-52: 52px;
    --pd-96: 96px;
    --neutral-2: #45403e;
    --letter-spacing-secondary: 1.5px;
    --overlay-image: linear-gradient(
        89.76deg,
        rgba(20, 18, 18, 0.55) 0.03%,
        rgba(45, 40, 40, 0) 36.34%
    );
    --letter-spacing-normal: 1px;
    --line-height-primary: 28px;
    --shadow-primary: 0px 8px 40px rgba(255, 78, 22, 0.2);
    --shadow-dark: 0px 2px 8px rgba(0, 0, 0, 0.16);
    --shadow-button-primary: 0px 8px 40px rgba(91, 91, 91, 0.2);
    --orange-light-primary: rgba(255, 78, 22, 0.05);
    --shadow-darker: 0px 16px 24px rgba(91, 91, 91, 0.15);
    --border-color: #888888;
    --border-mobile: #c5c5c5;
    --light-orange: #ffede8;
    --orange-light-danger: #fff0ec;
    --less-dark-orange: #fd7d55;
    --lighest-orange: #fff4f0;
    --lighest-gray: #f7f7f7;
    --darker-orange: #ff6432;
    --light-gray: #f7f7f7;
    --blue-primary: #1673ff;
    --blue-light-primary: #e7f1ff;
    --purple-light-primary: #ede9ff;
    --purple-primary: #2c00d4;
    --sm-size: 12px;
    --xs-size: 8px;
    --md-size: 21px;
    --mds-size: 18px;
    --share-pd: 40px 0 76px 0;
    --xxl-size: 64px;
    --space: 120px;
    --light-black: #45403e;
    --button-primary: #45403e;
    --darker-gray: #ededed;
    --overlay: 0, 0, 0, 0.45;
    --box-shadow: 0px 20px 100px rgba(91, 91, 91, 0.2);
    --light-shadow: 0px 20px 40px rgba(48, 151, 245, 0.2);
    --shadow-list: 0px 16px 24px rgba(91, 91, 91, 0.15);
    --radius: 10px;
    --md-radius: 15px;
    --dark-gray: #fafafa;
    --gray-light: #f1f3f5;
    --green-success: #0baa4a;
    --green-light-success: #d8ffe7;
    --red-light-error: #fff0f0;
    --red-error: #f40303;
    --orange-primary-light: #faf7f7;
    --gray-dark: #f3f3f3;
    --black-secondary: #45403e;
    --weight-400: 400;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;
    --weight-900: 900;
    --weight-1000: 1000;
    --line-height-bold: 36px;
    --weight-bold: bold;
    --border-black: #888888;
    --light-orange-primary: #ff602d;
    --letter-spacing: 0.5px;
    --gray-lighter: #c5c5c5;
    --pagination-space: 48px;
    --w-36: 36px;
    --mg-16: 16px;
    --input-space: 26px 24px 26px 50px;
    --mg-26: 26px;
    --mg-35: 35px;
    --light-black-bg: rgba(255, 255, 255, 0.1);
    --small-box-recruit: 4px 8px;
    --overlay-banner: linear-gradient(
        180deg,
        rgba(29, 29, 29, 0) 48.98%,
        rgba(29, 29, 29, 0.72) 100%
    );
    --gray-secondary: #888888;
    --overlay-model: rgba(72, 72, 72, 0.5);
    --orange-danger: #ff7145;
    --background-img:rgba(240, 240, 238, 1);

}
body[data-model='flow'] {
    overflow: hidden;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
a {
    text-decoration: none;
    color: var(--black) !important;
}
p,
ul,
h5,
ol {
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black-primary);
}
input[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}
.hidden {
    display: none;
}
.swiper-pagination {
    bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
    transition: all 0.15s ease-in-out;
    // lack of ideas!
}
.swiper-pagination-bullet-active {
    width: 16px !important;
    height: 16px !important;
    background: transparent !important;
    border: 2px solid var(--primary-color);
}

//
.formContact {
    border-radius: 0;
}
.formContact:focus {
    outline: none;
    border-color: var(--border-color);
    -webkit-box-shadow:var(--border-black)
}

.error__text {
    color: red;
    font-size: 14px;
}
@mixin scale-start {
    transform: scale(0);
    opacity: 0;
}
@mixin scale-finish {
    transform: scale(1);
    opacity: 1;
}
@mixin fade-start {
    opacity: 0;
    height: 0;
}
@mixin fade-finish {
    opacity: 1;
    height: 100%;
}
.fade-enter {
    @include fade-start();
}
.fade-enter-active {
    @include fade-finish();
    transition: all 0.5s ease-in-out;
}
.fade-exit {
    @include fade-finish();
}
.fade-exit-active {
    @include fade-start();
    transition: all 0.5s ease-in-out;
}
.scale-enter {
    @include scale-start();
}
.scale-enter-active {
    @include scale-finish();
    transition: all 0.75s ease;
}
.scale-exit {
    @include scale-finish();
}
.scale-exit-active {
    @include scale-start();
    transition: all 0.75s ease;
}
@mixin form-open {
    transform: translate(-50%, -100%);
    opacity: 0;
}
@mixin form-active {
    transform: translate(-50%, -50%);
    opacity: 1;
}
.form-open-enter {
    @include form-open();
}

.form-open-enter-active {
    @include form-active();
    transition: all 0.5s ease-in-out;
}
.form-open-exit {
    @include form-active();
}
.form-open-exit-active {
    @include form-open();
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1260px) {
    .container {
        padding-left: var(--middle-space);
        padding-right: var(--middle-space);
    }
}

@media screen and (max-width: 768px) {
    :root {
        --share-pd: 18px 0 30px 0;
    }
}


.mh-btn-prev{
    left: 10px;
}
.mh-btn-next{
    right: 10px;
}
.mh-btn-prev, .mh-btn-next{
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: 0px 8px 40px rgba(91, 91, 91, 0.2);
        border-radius: 50%;
        overflow: visible;
    }
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--white);
    @include transition-ease-in-out();
    &:hover{
        background: var(--primary-color);
        path {
            stroke: var(--white) !important;
        }
    }
    path{
        stroke: var(--primary-color);
        stroke-width: 4;
        @include transition-ease-in-out();
    }
    svg{
        width: 9px;
        height: 18px;
    }
    &:hover{
        path{
            stroke: var(--primary-color);
        }
    }
}
