@import '../theme/fixing';
.right{
    right: 0;
    left: auto;
}
.line{
    margin-top: 0 !important;
    margin-bottom: 0;
}

.introduction{
    padding: var(--middle-space);
    padding-bottom: var(--middle-space);
}

.reverse{
    left: auto;
    right: 0;
}