.left{
    left: 36px;
}
.right{
    right: 36px;
}
.left, .right{
    z-index: 10;
}
.slide{
    width: 404px;
    height: 554px;
}
@media screen and (max-width: 768px) {
    .slide{
        width: 312px !important;
        height: 428px !important;
    }
}