@import '../../../theme/fixing';
.container-middle{
    @include title();
}
.container-bg{
    margin-top: 0;
    padding: 0 !important;
    margin-bottom: 0;
}
.swiper{
    padding: 0;
    .image{
        min-width: 185px;
        height: 100px;
        &:hover{
            img{
                opacity: 1;
            }
        }
        img{
            width: 100%;
            height: auto;
            opacity: .75;
            transition: all .35s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        overflow: hidden;
    }
}
.left, .right{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--white);
    box-shadow: 0px 2px 5px rgba(91, 91, 91, 0.2);
    transition: all .35s ease-in-out;
    path{
        stroke: var(--orange-primary);
        stroke-width: 4;
    }
    svg{
        width: var(--sm-size);
        height: var(--mg-16);
    }
    &:hover{
        box-shadow: var(--shadow-primary);
        background: var(--orange-primary);
        path{
            stroke: var(--white);
        }
    }
}
.grid-partner{
   grid-template-columns: repeat(3, 1fr);
   .mobile-partner{
       overflow: hidden;
   }
   img{
       width: 100%;
       height: auto;
   }
   justify-content: center;
   align-items: center;
   gap: var(--size-space);
}
@media screen and (max-width: 1260px) {
    .left{
        left: 24px;
    }
    .right{
        right: 24px;
    }
    .container-bg{
        padding: 72px var(--middle-space);
    }
}
@media screen and (max-width: 991px) {
    .swiper{
        .image{
            min-width: 150px;
        }
    }
}

@media screen and (max-width: 768px) {
    .left{
        left: 0;
    }
    .right{
        right: 0;
    }
    .container-bg{
        padding-bottom: 0 !important;
        padding: var(--middle-space);
        margin: 0 !important;
    }
    .container-middle{
        padding-bottom: 0 !important;
        h4{
            font-size: 24px;
            padding-bottom: var(--middle-space) !important;
        }
    }
}